* {
    border: none;
    border-radius: 0;
}

window#waybar {
    font-family: Hack Nerd Font;
    font-size: 15px;
    color: #fbf1c7;
    background:  rgba(40,40,40,0.9);
}

#workspaces button {
    color: #928374;
    padding: 0 3px;
    background: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    color: #fbf1c7;
    background: #282828;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: #fbf1c7;
    background: #282828;
    border-bottom: 3px solid #fbf1c7;
}

#clock {
    padding-right: 5px;
}

#pulseaudio, #backlight, #battery, #cpu {
    padding-right: 20px;
    margin: 0;
}
#network {
   padding-right: 20px; 
   margin: 0;
}

#clock {
    border-right: none;
}

#mode {
    padding: 0 10px 0 10px;
    background: #cc241d;
}

#window {
  border-right: 20px; 
  border-left: 0px;
}
